Repository mapbox/public-tools-and-demos: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, eslint --fix

Update projects/.env.sample
  projects/.env.sample
Due: none

Fix map crash, and show prices as a scattered mix of labels and dots
  .prettierignore
  projects/demo-realestate/public/data/listings.json
  projects/demo-realestate/scripts/build-listings.mjs
  projects/demo-realestate/src/App.tsx
  projects/demo-realestate/src/components/map/ListingMarker.tsx
  projects/demo-realestate/src/components/map/MapView.tsx
  projects/demo-realestate/src/components/map/labelSelection.ts
  projects/demo-realestate/src/components/map/markerDetail.ts
  projects/demo-realestate/src/lib/listings-source.ts
Due: eslint, prettier --write

Use real King County property types, and rename Condo to Multi-family
  projects/demo-realestate/public/data/listings.json
  projects/demo-realestate/scripts/add-property-types.mjs
  projects/demo-realestate/src/App.tsx
  projects/demo-realestate/src/components/filters/TypeFilter.tsx
  projects/demo-realestate/src/components/map/ListingMarker.tsx
  projects/demo-realestate/src/data/listings.ts
  projects/demo-realestate/src/data/products.ts
  projects/demo-realestate/src/img/icons/check-multifamily.svg
  projects/demo-realestate/src/img/listings/bedroom.jpg
  projects/demo-realestate/src/img/listings/desert-house.jpg
  projects/demo-realestate/src/img/listings/dusk-house.jpg
  projects/demo-realestate/src/img/listings/kitchen.jpg
  projects/demo-realestate/src/img/listings/living-room.jpg
  projects/demo-realestate/src/img/listings/pool-house.jpg
  projects/demo-realestate/src/img/pins/README.md
  projects/demo-realestate/src/styles.css
  projects/demo-realestate/src/types/listing.ts
Due: eslint, prettier --write

Add the price distribution filter, and unify marker colour
  projects/demo-realestate/src/App.tsx
  projects/demo-realestate/src/components/filters/PriceFilter.tsx
  projects/demo-realestate/src/components/filters/PriceHistogram.tsx
  projects/demo-realestate/src/components/layout/FilterBar.tsx
  projects/demo-realestate/src/components/map/ListingMarker.tsx
  projects/demo-realestate/src/lib/price.ts
  projects/demo-realestate/src/styles.css
Due: eslint, prettier --write

Add the full listing panel, and compact the property card specs
  projects/demo-realestate/src/App.tsx
  projects/demo-realestate/src/components/listings/GalleryStrip.tsx
  projects/demo-realestate/src/components/listings/PropertyCard.tsx
  projects/demo-realestate/src/components/listings/PropertyPanel.tsx
  projects/demo-realestate/src/components/listings/useGallery.ts
  projects/demo-realestate/src/data/products.ts
  projects/demo-realestate/src/img/icons/calendar-lg.svg
  projects/demo-realestate/src/img/icons/chevron-down-brand.svg
  projects/demo-realestate/src/img/icons/chevron-left.svg
  projects/demo-realestate/src/img/icons/heart-button-active.svg
  projects/demo-realestate/src/img/icons/heart-button.svg
  projects/demo-realestate/src/img/icons/home-lg.svg
  projects/demo-realestate/src/img/icons/location-lg.svg
  projects/demo-realestate/src/img/icons/lot-lg.svg
  projects/demo-realestate/src/lib/describe.ts
  projects/demo-realestate/src/lib/format.ts
  projects/demo-realestate/src/lib/labels.ts
  projects/demo-realestate/src/lib/photos.ts
  projects/demo-realestate/src/lib/random.ts
  projects/demo-realestate/src/lib/static-image.ts
Due: eslint, prettier --write

Add routed travel times and an interactive property map to the full listing
  projects/demo-realestate/src/App.tsx
  projects/demo-realestate/src/components/layout/FilterBar.tsx
  projects/demo-realestate/src/components/layout/SearchBar.tsx
  projects/demo-realestate/src/components/listings/Destinations.tsx
  projects/demo-realestate/src/components/listings/PropertyMap.tsx
  projects/demo-realestate/src/components/listings/PropertyPanel.tsx
  projects/demo-realestate/src/components/listings/useRoutes.ts
  projects/demo-realestate/src/components/map/MapView.tsx
  projects/demo-realestate/src/components/search/SuggestionList.tsx
  projects/demo-realestate/src/components/search/useLocationSearch.ts
  projects/demo-realestate/src/data/products.ts
  projects/demo-realestate/src/img/icons/bike.svg
  projects/demo-realestate/src/img/icons/car.svg
  projects/demo-realestate/src/img/icons/chevron-left.svg
  projects/demo-realestate/src/img/icons/plus-brand.svg
  projects/demo-realestate/src/img/icons/walk.svg
  projects/demo-realestate/src/lib/destinations.ts
  projects/demo-realestate/src/lib/directions.ts
  projects/demo-realestate/src/lib/search.ts
  projects/demo-realestate/src/lib/static-image.ts
  projects/demo-realestate/src/styles.css
Due: eslint, prettier --write

Use King County's surveyed points and addresses for every listing
  .gitignore
  projects/demo-realestate/public/data/listings.json
  projects/demo-realestate/scripts/add-address-points.mjs
  projects/demo-realestate/scripts/build-listings.mjs
  projects/demo-realestate/scripts/geocode-listings.mjs
Due: prettier --write

Highlight the selected listing's building on the map
  projects/demo-realestate/src/components/map/MapView.tsx
  projects/demo-realestate/src/data/products.ts
  projects/demo-realestate/src/lib/buildings.ts
Due: eslint, prettier --write

Anchor the property card to its marker in a GL JS Popup
  projects/demo-realestate/src/App.tsx
  projects/demo-realestate/src/components/listings/GalleryStrip.tsx
  projects/demo-realestate/src/components/listings/PropertyCard.tsx
  projects/demo-realestate/src/components/map/MapView.tsx
  projects/demo-realestate/src/components/map/cardPlacement.ts
  projects/demo-realestate/src/data/products.ts
  projects/demo-realestate/src/lib/static-image.ts
  projects/demo-realestate/src/styles.css
Due: eslint, prettier --write

Add standard-style-theme-editor project
  eslint.config.js
  projects/standard-style-theme-editor/README.md
  projects/standard-style-theme-editor/eslint.config.js
  projects/standard-style-theme-editor/index.html
  projects/standard-style-theme-editor/package.json
  projects/standard-style-theme-editor/postcss.config.js
  projects/standard-style-theme-editor/src/App.css
  projects/standard-style-theme-editor/src/App.tsx
  projects/standard-style-theme-editor/src/ColorCurve.tsx
  projects/standard-style-theme-editor/src/components/ColorCorrectionPanel.tsx
  projects/standard-style-theme-editor/src/components/ColorCorrectionPopover.tsx
  projects/standard-style-theme-editor/src/components/ColorWheel.tsx
  projects/standard-style-theme-editor/src/components/IconButton.tsx
  projects/standard-style-theme-editor/src/components/Map.tsx
  projects/standard-style-theme-editor/src/components/ParameterSlider.tsx
  projects/standard-style-theme-editor/src/components/ResetButton.tsx
  projects/standard-style-theme-editor/src/declarations.d.ts
  projects/standard-style-theme-editor/src/index.css
  projects/standard-style-theme-editor/src/main.tsx
  projects/standard-style-theme-editor/src/utils/colorUtils.ts
  projects/standard-style-theme-editor/src/utils/lutUtils.ts
  projects/standard-style-theme-editor/tailwind.config.js
  projects/standard-style-theme-editor/tsconfig.app.json
  projects/standard-style-theme-editor/tsconfig.json
  projects/standard-style-theme-editor/tsconfig.node.json
  projects/standard-style-theme-editor/vite.config.ts
  yarn.lock
Due: eslint, prettier --write, eslint --fix

Outline searched areas and limit listings to them; raise markers off the ground
  projects/demo-realestate/src/App.tsx
  projects/demo-realestate/src/components/layout/FilterBar.tsx
  projects/demo-realestate/src/components/layout/SearchBar.tsx
  projects/demo-realestate/src/components/map/MapView.tsx
  projects/demo-realestate/src/components/map/cardPlacement.ts
  projects/demo-realestate/src/components/search/useLocationSearch.ts
  projects/demo-realestate/src/data/products.ts
  projects/demo-realestate/src/lib/boundaries.ts
  projects/demo-realestate/src/lib/buildings.ts
  projects/demo-realestate/src/lib/search.ts
Due: eslint, prettier --write

Fix TypeScript build errors for production deploy
  projects/standard-style-theme-editor/src/components/Map.tsx
  projects/standard-style-theme-editor/vite.config.ts
Due: eslint, prettier --write

Customise Mapbox Standard through configuration, and point search at cities
  projects/demo-realestate/src/components/layout/SearchBar.tsx
  projects/demo-realestate/src/components/listings/PropertyMap.tsx
  projects/demo-realestate/src/components/map/MapView.tsx
  projects/demo-realestate/src/data/products.ts
  projects/demo-realestate/src/lib/basemap.ts
Due: eslint, prettier --write

Mobile pass
  projects/demo-realestate/src/App.tsx
  projects/demo-realestate/src/components/filters/FiltersSheet.tsx
  projects/demo-realestate/src/components/filters/PriceFilter.tsx
  projects/demo-realestate/src/components/filters/PriceHistogram.tsx
  projects/demo-realestate/src/components/filters/TypeFilter.tsx
  projects/demo-realestate/src/components/gallery/GalleryStrip.tsx
  projects/demo-realestate/src/components/gallery/useGallery.ts
  projects/demo-realestate/src/components/layout/FilterBar.tsx
  projects/demo-realestate/src/components/layout/Header.tsx
  projects/demo-realestate/src/components/layout/LearnMapbox.tsx
  projects/demo-realestate/src/components/layout/Logo.tsx
  projects/demo-realestate/src/components/layout/ViewSelector.tsx
  projects/demo-realestate/src/components/listings/AmenityLabel.tsx
  projects/demo-realestate/src/components/listings/ListingCard.tsx
  projects/demo-realestate/src/components/listings/ListingsPanel.tsx
  projects/demo-realestate/src/components/map/MainMap.tsx
  projects/demo-realestate/src/components/map/MapView.tsx
  projects/demo-realestate/src/components/map/PropertyMap.tsx
  projects/demo-realestate/src/components/map/cardPlacement.ts
  projects/demo-realestate/src/components/property-card/PropertyCard.tsx
  projects/demo-realestate/src/components/property-panel/Destinations.tsx
  projects/demo-realestate/src/components/property-panel/PropertyPanel.tsx
  projects/demo-realestate/src/components/property-panel/useRoutes.ts
  projects/demo-realestate/src/components/ui/FavoriteButton.tsx
  projects/demo-realestate/src/hooks/useElementSize.ts
  projects/demo-realestate/src/hooks/useIsMobile.ts
  projects/demo-realestate/src/main.tsx
  projects/demo-realestate/src/state/AppProvider.tsx
  projects/demo-realestate/src/state/ListingsProvider.tsx
  projects/demo-realestate/src/state/SelectionProvider.tsx
  projects/demo-realestate/src/state/TravelProvider.tsx
  projects/demo-realestate/src/state/contexts.ts
Due: eslint, prettier --write

Mark visited listings on the map, and add a basemap menu
  projects/demo-realestate/src/components/map/BasemapControl.tsx
  projects/demo-realestate/src/components/map/ListingMarker.tsx
  projects/demo-realestate/src/components/map/MainMap.tsx
  projects/demo-realestate/src/components/map/MapView.tsx
  projects/demo-realestate/src/data/products.ts
  projects/demo-realestate/src/img/icons/globe.svg
  projects/demo-realestate/src/img/icons/layers.svg
  projects/demo-realestate/src/img/icons/moon.svg
  projects/demo-realestate/src/img/icons/satellite.svg
  projects/demo-realestate/src/img/icons/sun-down.svg
  projects/demo-realestate/src/img/icons/sun-up.svg
  projects/demo-realestate/src/img/icons/sun.svg
  projects/demo-realestate/src/lib/basemap.ts
  projects/demo-realestate/src/state/SelectionProvider.tsx
  projects/demo-realestate/src/state/contexts.ts
  projects/demo-realestate/src/styles.css
Due: eslint, prettier --write

Draw an area on the map to limit listings to it
  projects/demo-realestate/package.json
  projects/demo-realestate/src/components/map/BasemapControl.tsx
  projects/demo-realestate/src/components/map/DrawControl.tsx
  projects/demo-realestate/src/components/map/MainMap.tsx
  projects/demo-realestate/src/components/map/MapView.tsx
  projects/demo-realestate/src/data/products.ts
  projects/demo-realestate/src/img/icons/pencil.svg
  projects/demo-realestate/src/lib/boundaries.ts
  projects/demo-realestate/src/lib/freehand.ts
  projects/demo-realestate/src/state/ListingsProvider.tsx
  projects/demo-realestate/src/state/contexts.ts
  projects/demo-realestate/src/styles.css
  projects/demo-realestate/src/types/mapbox-gl-draw.d.ts
  yarn.lock
Due: eslint, prettier --write

Open every filter at once in the mobile filters sheet
  projects/demo-realestate/src/components/filters/FiltersSheet.tsx
  projects/demo-realestate/src/components/filters/PriceFilter.tsx
  projects/demo-realestate/src/lib/format.ts
Due: eslint, prettier --write

Make the drawing banner opaque, with the card's corners
  projects/demo-realestate/src/components/map/DrawControl.tsx
Due: eslint, prettier --write

Keep the page still while drawing on a phone
  projects/demo-realestate/src/styles.css
Due: prettier --write

Path conditions:
  eslint: (((any of: *.js) or (any of: *.jsx)) or (any of: *.ts)) or (any of: *.tsx)
  prettier --write: ((((((any of: *.js) or (any of: *.jsx)) or (any of: *.ts)) or (any of: *.tsx)) or (any of: *.css)) or (any of: *.json)) or (any of: *.html)
  eslint --fix: any of: *.html
