Repository mapbox/public-tools-and-demos: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, eslint --fix

Updates to NavBar, tooltip content, and small UI updates
  projects/demo-components/src/mapbox-tooltips.jsx
  projects/demo-components/src/tooltipData.js
  projects/gl-js-pin-powered/src/App-with-components.tsx.example
  projects/gl-js-pin-powered/src/components/NavBar/index.tsx
  projects/gl-js-pin-powered/src/components/POICard/POICard.module.css
  projects/gl-js-pin-powered/src/components/SwitchView/SwitchView.module.css
  projects/gl-js-pin-powered/src/types/mapbox-demo-components.d.ts
  projects/gl-js-pin-powered/yarn-error.log
Due: eslint, prettier --write

Removed hiding filters on POICard open
  projects/gl-js-pin-powered/src/components/Filters/Filters.module.css
  projects/gl-js-pin-powered/src/components/MapContainer/index.tsx
Due: eslint, prettier --write

updated error log
  .gitignore
Due: none

Small style updates for mobile handling, POICard styles and Navbar
  projects/gl-js-pin-powered/src/App.tsx
  projects/gl-js-pin-powered/src/components/MapContainer/MapContainer.module.css
  projects/gl-js-pin-powered/src/components/POICard/POICard.module.css
Due: eslint, prettier --write

Mobile styles for navbar to avoid overlap with tooltip menu
  projects/gl-js-pin-powered/src/components/NavBar/index.tsx
Due: eslint, prettier --write

Added Details API notes
  projects/gl-js-pin-powered/src/api/getDetails.ts
Due: eslint, prettier --write

Removed log & update to details api tooltip
  projects/demo-components/src/tooltipData.js
  projects/gl-js-pin-powered/src/components/MapContainer/index.tsx
Due: eslint, prettier --write

Remove error log
  projects/gl-js-pin-powered/yarn-error.log
Due: none

Updated how project is structured to move token to vite env
  DEPLOYMENT.md
  projects/storytelling/public/storytelling.html
  projects/storytelling/src/config.js
  projects/storytelling/src/inject-config.js
  projects/storytelling/storytelling.html
Due: eslint, prettier --write, eslint --fix

Added storytelling.html into build
  projects/storytelling/vite.config.js
Due: eslint, prettier --write

Remove storytelling token and refactor project setup (#22)
  DEPLOYMENT.md
  projects/storytelling/public/storytelling.html
  projects/storytelling/src/config.js
  projects/storytelling/src/inject-config.js
  projects/storytelling/storytelling.html
  projects/storytelling/vite.config.js
Due: eslint, prettier --write, eslint --fix

Added MCP servers
  projects/developer-cheatsheet/public/js/mapboxItems.js
Due: eslint, prettier --write

Added MCP servers (#23)
  projects/developer-cheatsheet/public/js/mapboxItems.js
Due: eslint, prettier --write

Removed un-needed component complexity
  projects/demo-components/src/map.jsx
Due: eslint, prettier --write

Removed un-needed component complexity (#24)
  projects/demo-components/src/map.jsx
Due: eslint, prettier --write

Updated the style to use examples account style
  projects/storytelling/src/config.js
Due: eslint, prettier --write

Updated the style to use examples account style (#25)
  projects/storytelling/src/config.js
Due: eslint, prettier --write

Add demo-droidcon-web project migrated from droidcon-demo-web
  projects/demo-droidcon-web/index.html
  projects/demo-droidcon-web/package.json
  projects/demo-droidcon-web/public/favicon.svg
  projects/demo-droidcon-web/public/icons.svg
  projects/demo-droidcon-web/src/App.css
  projects/demo-droidcon-web/src/App.jsx
  projects/demo-droidcon-web/src/assets/hero.png
  projects/demo-droidcon-web/src/data/attractions.json
  projects/demo-droidcon-web/src/data/isochrones.json
  projects/demo-droidcon-web/src/index.css
  projects/demo-droidcon-web/src/main.jsx
  projects/demo-droidcon-web/vite.config.js
  yarn.lock
Due: eslint, prettier --write, eslint --fix

Enable cooperative gestures on demo feature tour map.
  projects/demo-feature-tour/src/App.jsx
Due: eslint, prettier --write

Redesign mobile top bar and simplify responsive breakpoints.
  projects/demo-feature-tour/src/App.css
  projects/demo-feature-tour/src/components/TopBar.jsx
Due: eslint, prettier --write

Refine horizontal top bar spacing and divider inset.
  projects/demo-feature-tour/src/App.css
Due: prettier --write

Add attractions GeoJSON FeatureCollection
  android/AllTheThings/app/src/main/assets/attractions.json
Due: prettier --write

Add Mapbox dependencies
  android/AllTheThings/.gitignore
  android/AllTheThings/app/build.gradle.kts
  android/AllTheThings/app/src/main/AndroidManifest.xml
  android/AllTheThings/app/src/main/java/com/example/allthethings/AllTheThingsApplication.kt
  android/AllTheThings/gradle.properties
  android/AllTheThings/gradle/libs.versions.toml
  android/AllTheThings/settings.gradle.kts
Due: none

CLAUDE.md with demo context.
  android/AllTheThings/CLAUDE.md
Due: none

Added query param for cooperativeGestures and updated readme
  projects/demo-feature-tour/README.md
  projects/demo-feature-tour/src/App.jsx
Due: eslint, prettier --write

I can see the globe. Could you make the map animate over 2 seconds from the globe view to a zoomed-in view of Orlando, Florida?
  android/AllTheThings/app/src/main/java/com/example/allthethings/ui/main/MainScreen.kt
Due: none

Add README with project overview, setup, and demo prompts.
  android/AllTheThings/README.md
Due: none

Add demo-nyc-neighborhood-finder agentic neighborhood search app
  projects/demo-nyc-neighborhood-finder/.env.sample
  projects/demo-nyc-neighborhood-finder/.gitignore
  projects/demo-nyc-neighborhood-finder/README.md
  projects/demo-nyc-neighborhood-finder/index.html
  projects/demo-nyc-neighborhood-finder/package-lock.json
  projects/demo-nyc-neighborhood-finder/package.json
  projects/demo-nyc-neighborhood-finder/public/favicon.svg
  projects/demo-nyc-neighborhood-finder/public/icons.svg
  projects/demo-nyc-neighborhood-finder/server.js
  projects/demo-nyc-neighborhood-finder/src/App.css
  projects/demo-nyc-neighborhood-finder/src/App.tsx
  projects/demo-nyc-neighborhood-finder/src/assets/hero.png
  projects/demo-nyc-neighborhood-finder/src/components/Chat.css
  projects/demo-nyc-neighborhood-finder/src/components/Chat.tsx
  projects/demo-nyc-neighborhood-finder/src/components/MapView.css
  projects/demo-nyc-neighborhood-finder/src/components/MapView.tsx
  projects/demo-nyc-neighborhood-finder/src/components/NeighborhoodCard.css
  projects/demo-nyc-neighborhood-finder/src/components/NeighborhoodCard.tsx
  projects/demo-nyc-neighborhood-finder/src/components/NeighborhoodProfile.css
  projects/demo-nyc-neighborhood-finder/src/components/NeighborhoodProfile.tsx
  projects/demo-nyc-neighborhood-finder/src/components/Toast.css
  projects/demo-nyc-neighborhood-finder/src/components/Toast.tsx
  projects/demo-nyc-neighborhood-finder/src/hooks/useNeighborhoodData.ts
  projects/demo-nyc-neighborhood-finder/src/index.css
  projects/demo-nyc-neighborhood-finder/src/main.tsx
  projects/demo-nyc-neighborhood-finder/src/types.ts
  projects/demo-nyc-neighborhood-finder/tsconfig.app.json
  projects/demo-nyc-neighborhood-finder/tsconfig.json
  projects/demo-nyc-neighborhood-finder/tsconfig.node.json
  projects/demo-nyc-neighborhood-finder/vite.config.ts
Due: eslint, prettier --write, eslint --fix

Fix show_neighborhoods tool call reliability
  .eslintrc
  projects/demo-nyc-neighborhood-finder/server.js
  projects/demo-nyc-neighborhood-finder/src/App.tsx
Due: eslint, prettier --write

Drop noisy per-step tool-input logging
  projects/demo-nyc-neighborhood-finder/server.js
Due: eslint, prettier --write

Fix broken links reported from iframe embed
  projects/demo-feature-tour/src/components/SceneInfo.jsx
Due: eslint, prettier --write

Clean up demo-nyc-neighborhood-finder project setup
  projects/.env.sample
  projects/demo-nyc-neighborhood-finder/.env.sample
  projects/demo-nyc-neighborhood-finder/index.html
  projects/demo-nyc-neighborhood-finder/src/assets/hero.png
Due: prettier --write, eslint --fix

Remove demo-droidcon-web project
  projects/demo-droidcon-web/index.html
  projects/demo-droidcon-web/package.json
  projects/demo-droidcon-web/public/favicon.svg
  projects/demo-droidcon-web/public/icons.svg
  projects/demo-droidcon-web/src/App.css
  projects/demo-droidcon-web/src/App.jsx
  projects/demo-droidcon-web/src/assets/hero.png
  projects/demo-droidcon-web/src/data/attractions.json
  projects/demo-droidcon-web/src/data/isochrones.json
  projects/demo-droidcon-web/src/index.css
  projects/demo-droidcon-web/src/main.jsx
  projects/demo-droidcon-web/vite.config.js
Due: eslint, prettier --write, eslint --fix

Configure vite to load env from root directory
  projects/demo-nyc-neighborhood-finder/vite.config.ts
Due: eslint, prettier --write

Apply design revisions and use Search JS Core for location search
  projects/demo-realestate/package.json
  projects/demo-realestate/src/App.tsx
  projects/demo-realestate/src/components/filters/SavedIndicator.tsx
  projects/demo-realestate/src/components/filters/TypeFilter.tsx
  projects/demo-realestate/src/components/layout/FilterBar.tsx
  projects/demo-realestate/src/components/layout/Header.tsx
  projects/demo-realestate/src/components/layout/SearchBar.tsx
  projects/demo-realestate/src/components/map/MapLegend.tsx
  projects/demo-realestate/src/components/map/MapView.tsx
  projects/demo-realestate/src/components/map/PriceLabelPin.tsx
  projects/demo-realestate/src/data/products.ts
  projects/demo-realestate/src/img/icons/check-ring.svg
  projects/demo-realestate/src/img/icons/heart-saved.svg
  projects/demo-realestate/src/lib/map-defaults.ts
  projects/demo-realestate/src/lib/search.ts
  projects/demo-realestate/src/styles.css
  yarn.lock
Due: eslint, prettier --write

Replace demo listings with the 21k King County dataset
  .gitignore
  projects/demo-realestate/public/data/listings.json
  projects/demo-realestate/scripts/build-listings.mjs
  projects/demo-realestate/scripts/geocode-listings.mjs
  projects/demo-realestate/src/App.tsx
  projects/demo-realestate/src/components/listings/ListingCard.tsx
  projects/demo-realestate/src/components/listings/ListingsPanel.tsx
  projects/demo-realestate/src/components/map/ListingMarker.tsx
  projects/demo-realestate/src/components/map/MapView.tsx
  projects/demo-realestate/src/components/map/PriceLabelPin.tsx
  projects/demo-realestate/src/components/map/markerDetail.ts
  projects/demo-realestate/src/lib/listings-source.ts
  projects/demo-realestate/src/lib/map-defaults.ts
  projects/demo-realestate/src/types/listing.ts
Due: eslint, prettier --write

Use VITE_YOUR_MAPBOX_ACCESS_TOKEN to match repo convention
  projects/demo-nyc-neighborhood-finder/server.js
  projects/demo-nyc-neighborhood-finder/src/components/MapView.tsx
Due: eslint, prettier --write

Path conditions:
  eslint: (((any of: *.js) or (any of: *.jsx)) or (any of: *.ts)) or (any of: *.tsx)
  prettier --write: ((((((any of: *.js) or (any of: *.jsx)) or (any of: *.ts)) or (any of: *.tsx)) or (any of: *.css)) or (any of: *.json)) or (any of: *.html)
  eslint --fix: any of: *.html
